*.ply
*.png
*.pt
/data
/.vscode
.DS_Store
/.ipynb_checkpoints
/__pycache__
/pcd_processing/__pycache__
/planes_detection/__pycache__
/dimensions/__pycache__
*.pth
/results
/models
/wandb
config.yaml
/notebooks/wandb
/notebooks/__pycache__
/notebooks
/notebooks/*.ipynb